<br>
<br>
<!-- Contenedor principal -->
<div class="container">
    <!-- Tarjeta 1 -->
    <div class="card mx-auto" style="width: 900px;">
        <div class="card-header bg-primary text-white">
            <!-- Título centrado con clase de Bootstrap -->
            <h5 class="card-title text-uppercase custom-letter-spacing mb-0">Bienvenido a la Gestión de Empleados</h5>
        </div>
        <div class="card-body">
            <p class="card-text">Utilice el menú de navegación para acceder a las diferentes secciones del sistema de gestión de empleados. Aquí puede crear nuevos empleados, buscar empleados existentes y gestionar toda la información relacionada.</p>
            <p class="card-text">Si necesita ayuda, por favor, contacte con el administrador del sistema.</p>
            <a href="/add" class="btn btn-outline-secondary btn-lg" id="card-color">Crear una Persona</a>
        </div>
    </div>
    <!-- Tarjeta 2 -->
    <div class="card mx-auto mt-4" style="width: 900px;">
        <div class="card-header bg-secondary text-white">
            <!-- Título centrado con clase de Bootstrap -->
            <h5 class="card-title text-uppercase custom-letter-spacing mb-0">Estadísticas rápidas</h5>
        </div>
        <div class="card-body">
            <ul>
                <li>Número total de empleados: <span id="contadorEmpleados"></span></li>
                <li>Nuevos empleados este mes: 5</li>
                <li>Empleados activos: 115</li>
            </ul>
        </div>
    </div>
</div>
