 <style>
        
    
        .card {
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }
        .form-card {
            margin-top: 2rem;
        }
        .card-header {
            text-align: center;
        }
       
    </style>
</head>
<body>
    <div class="container-fluid p-4" id="formulario">
        <div class="row justify-content-center">
            <div class="col-lg-10 col-md-10 col-sm-12">
                <div class="card form-card">
                    <div class="card-header  text-black">
                        <h5 class="text-uppercase">Crear empleado</h5>
                    </div>
                    <div class="card-body">
                        <form action="/add" method="post">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="name">Nombre:</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="fas fa-user"></i></span>
                                            </div>
                                            <input type="text" name="name" id="name" placeholder="Ingrese su nombre..." autofocus required class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="lastname">Apellidos:</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="fas fa-user"></i></span>
                                            </div>
                                            <input type="text" name="lastname" id="lastname" placeholder="Ingrese sus apellidos..." required class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="age">Edad:</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="fas fa-calendar-alt"></i></span>
                                            </div>
                                            <input type="number" name="age" id="age" placeholder="0" required class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 mt-4">
                                    <button class="btn btn-success btn-block">Guardar</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>